/** @format */
// VAriables
$green-color: #9bcb3c;
$heading-font: 'Neuville';
$text-font: 'flinkregular';
$text-color: 6a6e72;
$bg-color: #eee;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
	color: $green-color;
	font-family: $heading-font;
}

body {
	font-family: 'flinkregular' !important;
	font-weight: 400;
	box-shadow: none !important;
	background-color: $bg-color !important;
	color: #6a6e72 !important;
	font-size: 18px;
	line-height: 28px;
}
main {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('/images/hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	background-attachment: fixed;
}

// NavBar

nav {
	// padding: 30px 50px;
	height: 180px;
	.logo img {
		width: 270px;
		height: auto;
		padding: 10px;
	}

	.navbar-nav li {
		padding: 20px;
	}

	.navbar-nav li a {
		font-family: 'Neuville' !important;
		font-weight: bold;
		font-size: 1rem;
		color: white !important;
		transition: 0.4s ease all;

		&:hover {
			color: $green-color !important;
		}
	}
}
.hero {
	height: calc(100vh - 180px);
	position: relative;
}
.hero h1 {
	line-height: 1.1;
	font-weight: 400;
	letter-spacing: -0.04em;
	position: absolute;
	top: 10%;
	left: 30px;
	color: #fff;
	width: 62%;
	font-size: 60px;
}

// Partnership Section
.partners {
	background: white;
}
.partnership {
	font-family: $text-font;

	width: 50%;
	text-align: center;
	margin: auto;

	p {
		font-size: 25px;
		line-height: 1.2;
		color: $text-color;
	}
}

// Our Mission Section
.our-mission {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('/images/girl-with-laptop.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	background-attachment: fixed;

	.our-mission-div {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: white;

		h1 {
			margin-bottom: 35px;
			line-height: 1;
			font-weight: 400;
			letter-spacing: -0.04em;
			font-size: 80px;
		}

		p {
			font-weight: 400;
			letter-spacing: -0.04em;
			line-height: 1.5;
			font-size: 24px;
		}
	}
}

// What we oferr
.what-we-offer {
	height: 100vh;
	background: white;
	position: relative;
	overflow: hidden;

	.what-we-offer-div {
		display: flex;
		justify-content: space-around;

		.left-part {
			margin: 70px 30px;
			max-width: 16%;

			h1 {
				margin-bottom: 22px;
				line-height: 1.2;
				color: $green-color;
				font-weight: 400;
				letter-spacing: -0.04em;
				font-size: 40px;
			}
			p {
				color: #6a6e72;
				font-weight: 400;
				letter-spacing: -0.04em;
				margin-bottom: 30px;
				font-size: 18px;
				line-height: 1.5;
			}
		}

		figure {
			height: 100vh;

			img {
				height: 100%;
			}
		}

		.strategic-hr-support {
			margin: 70px 30px;
			max-width: 16%;
			height: 50px;
			cursor: pointer;

			h3 {
				color: #6a6e72;
				font-weight: 400;
				letter-spacing: 0.04em;
				margin-bottom: 30px;
				font-size: 30px;
				line-height: 1.5;
			}
		}
	}

	.hr-operation-support {
		position: absolute;
		bottom: 70px;
		left: 150px;
		cursor: pointer;

		h3 {
			color: #6a6e72;
			font-weight: 400;
			letter-spacing: -0.04em;
			margin-bottom: 30px;
			font-size: 30px;
			line-height: 1.5;
		}
	}

	// hover-cards
	.hover-cards {
		color: $text-color;
		position: absolute;
		bottom: 10%;
		right: 0;
		display: none;
		transition: 0.4s ease-in-out;

		h5 {
			color: rgb(90, 35, 25);
		}
	}

	.hover-card-2 {
		color: $text-color;
		position: absolute;
		bottom: 20%;
		left: 5%;
		display: none;
		transition: 0.4s ease-in-out;

		h5 {
			color: rgb(90, 35, 25);
		}
	}
}

// show and hide cards on hover
.show {
	display: block !important;
}

// OUR PROCESS
.our-process {
	height: auto;
	z-index: 10;
	position: relative;

	.diagnostics {
		margin: 150px 0px;
		cursor: pointer;

		p {
			color: #6a6e72;
			font-weight: 400;
			letter-spacing: 0.04em;
			font-size: 30px;
			line-height: 1.5;
			border: 1px solid $green-color;
			border-radius: 10px;
			padding: 8px 50px;
			text-align: center;
		}
	}

	figure {
		position: relative;

		img {
			position: absolute;
			top: 0%;
			left: 50%;
			transform: translateX(-50%);
			height: 100vh;
		}
	}

	.process-div {
		margin-top: 70px;
		h1 {
			color: $green-color;
			font-size: 50px;
			font-weight: bold;
			font-family: $heading-font;
			margin-bottom: 15px;
		}
		p {
			color: #6a6e72;
			font-weight: 400;
			letter-spacing: 0.08em;
			font-size: 1.3rem;
			line-height: 1.1;

			margin-top: 30px;
		}
		.five-step-process {
			color: #6a6e72;
			font-weight: 400;
			letter-spacing: 0.04em;
			font-size: 30px;
			line-height: 1.5;
			border: 1px solid $green-color;
			border-radius: 10px;
			padding: 8px 50px;
			text-align: center;
			margin-top: 70px;
			cursor: pointer;
		}
	}

	.after-act {
		margin-top: 100px;
	}
	.impl,
	.live-op,
	.after-act {
		position: relative;
	}
	.live-op .col-md-5 {
		position: absolute;
		right: 20px;
		z-index: 10;
	}

	// Cards for five step process
	.five-step-process-cards {
		z-index: 10;
		h5,
		span {
			color: $green-color;
		}
	}

	.diagnostics-card {
		position: absolute;
		top: 16%;
		left: 1%;
		display: none;
	}

	.validation-design-card {
		position: absolute;
		top: 33%;
		right: 1%;
		display: none;
	}

	.implementation-card {
		position: absolute;
		bottom: 52%;
		left: 1%;
		display: none;
	}

	.live-operation-card {
		position: absolute;
		bottom: 25%;
		display: none;
		right: 1%;
	}

	.after-action-review-card {
		position: absolute;
		bottom: 17%;
		left: 1%;
		display: none;
	}
}

// OUR SERVICE MODEL
.our-service-model {
	background: white;

	h1 {
		color: $green-color;
		padding: 10px;
	}

	h3 {
		text-align: center;
		color: $green-color;
		margin: 60px 0px;
	}

	.organization,
	.jobs {
		h4 {
			color: $green-color;
		}
	}
}

//  WHO WE ARE
// Slider
/* Slideshow container */
.slideshow-container {
	position: relative;
	background: #fffffff1;
}

/* Slides */
.mySlides {
	display: none;
	padding: 55px 80px 25px 80px;
	text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 30px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
	text-align: center;
	padding: 20px;
	background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.slider .active,
.slider .dot:hover {
	background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
	font-style: italic;
	font-size: 1.2rem;
}

/* Add a blue color to the author */
.author {
	color: $green-color;
	font-size: 30px;
	padding-top: 20px;
}

.who-we-are {
	.heading h1 {
		color: $green-color;
		padding: 10px;
		font-size: 2.5rem;
		margin: 30px 0px;
	}
	.heading p {
		color: $green-color;
		padding: 2px 0px 5px 10px;
		font-size: 1.2rem;
		padding: 10px;
		margin: 30px 0px;
	}
}

.who-we-work-with {
	.who-we-work-with-row {
		padding: 10px;
		margin: 30px 0px;

		h1 {
			color: $green-color;
			padding: 10px;
			font-size: 2.5rem;
			font-weight: bold;
		}

		p {
			font-size: 1.3rem;
		}
	}
}

// Footer
footer {
	li a {
		color: white !important;
		text-decoration: none;
	}
}

// MEDIA QUERIES
@media (max-width: 992px) {
	header {
		.logo-img {
			width: 220px !important;
			height: auto;
		}

		.navbar-collapse {
			background: white;
			z-index: 10;
		}

		.nav-item .nav-link {
			color: black !important;
		}

		.navbar-toggler {
			border: 2px solid white;
		}

		nav .navbar-nav li a {
			color: black;
		}
	}

	.hero h1 {
		font-size: 3rem;
	}

	.partnership p {
		font-size: 20px;
	}

	figure {
		display: none;
	}

	.what-we-offer-div {
		max-width: 100%;
		flex-direction: column;
		text-align: center;
		display: block !important;
	}
	.what-we-offer-div .left-part {
		max-width: 100% !important;
		margin: 70px 0px 0px 0px !important;
		display: block;
	}

	.what-we-offer .what-we-offer-div .strategic-hr-support {
		max-width: 100% !important;
	}
}

@media (max-width: 768) {
}

@media (max-width: 576px) {
}
